* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: white;
}

svg,
.icon {
  height: 16px;
  width: 16px;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 14px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cart_container {
  border: 1px solid gray;
  border-radius: 6px;
  background-color: transparent;
  width: 44px;
  height: 44px;
  color: white;
}

/* MAIN */

.first_section {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .first_section {
    max-height: calc(100vh - 200px);
  }
}

.first {
  width: 60%;
}

.product {
  background-color: rgb(6, 6, 6);
  border-radius: 6px;
  border: 1px solid gray;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.second {
  width: calc(40% - 20px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second > div {
  max-height: calc(50% - 10px);
}

.second_section {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

/* FOOTER */
footer {
  border-top: 1px solid gray;
}

footer p {
  text-align: center;
  padding: 20px;
}

/* MOBILE */

@media (max-width: 768px) {
  .first_section {
    flex-direction: column;
  }
  .first {
    width: 100%;
  }
  .product {
    max-width: 500px;
    max-height: 500px;
    margin-inline: auto;
  }
  .second {
    width: 100%;
  }
  .second_section {
    flex-direction: column;
  }
}
